/*Externos*/
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Khula:wght@400;600&family=Montserrat:wght@100;500;600&display=swap");
/*Misc*/
/*Colors*/
primary {
  color: #717375; }

secondary {
  color: #EFEAE0; }

alternative {
  color: #F1BDA7; }

text-color {
  color: #F8EFEA; }

base {
  color: #ffff; }

* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background-color: #C4C4C4;
  background-size: cover;
  background-repeat: no-repeat;
  object-position: center;
  font-family: 'Khula',sans-serif; }

/*Mobile Small*/
@media screen and (max-width: 480px) {
  /*Home*/ }

/*Mobile Large*/
@media screen and (max-width: 480px) {
  .img {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem; }
  .img .img__circulo {
    width: 30%;
    border-radius: 50%;
    border: #808285 8px solid; } }

/*Mobile Tablet*/
@media (max-width: 760px) {
  header picture {
    display: none; }
  nav ul a {
    font-size: 1.6em;
    font-style: italic;
    color: #fcfcfc;
    padding: .4rem; }
  .presentacion__titulo {
    text-align: center; }
  .grid-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px; }
  .card {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .box__imagen {
    width: 40%; }
  .item .item__descripcion {
    font-size: 1.6em;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px; }
  .item .item__titulo {
    font-size: 2.2em; }
  .contacto__titulo {
    font-size: 2.5em; }
  .contacto__p {
    font-size: 1.6em; }
  form {
    width: 300px;
    border-radius: 7px; } }

/*Partials*/
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(270deg, #474747 0%, #5c5c5c 29%, #707070 43%, #858585 53%, #9c9c9c 62%, #b0b0b0 69%, #b8b8b8 75%, #bfbfbf 80%, #c7c7c7 86%, #cfcfcf 92%, #d6d6d6 100%);
  padding: 2rem; }

header picture {
  flex-basis: 40%; }

header picture img {
  max-width: 200px; }

li {
  padding-left: 1rem;
  padding-right: 1rem; }

nav ul li {
  display: block; }

nav ul a {
  display: flex;
  font-size: 1.4em;
  color: #f2f2f2;
  text-decoration: none;
  border-bottom: #EFEAE0 2px solid; }

nav ul li a:hover {
  background-color: #eff2f2;
  color: #474747; }

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: linear-gradient(160deg, #474747 0%, #5c5c5c 11%, #707070 24%, #858585 37%, #9c9c9c 51%, #b0b0b0 63%, #b8b8b8 73%, #bfbfbf 82%, #c7c7c7 89%, #cfcfcf 95%, #d6d6d6 100%);
  background-size: cover;
  width: 100%;
  position: relative;
  padding: 1rem;
  justify-content: space-evenly; }
  .footer__iconos {
    height: 4rem;
    background-position: center;
    margin-left: 2rem;
    padding-left: 9rem; }

/*Pages*/
.fondo-index {
  background-image: url(../img/fondoVela.jpg);
  background-attachment: fixed; }

.presentacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap; }
  .presentacion__logoRedondo {
    width: 20rem;
    margin-top: 2rem; }
  .presentacion__titulo {
    font-style: normal;
    font-size: 6em;
    text-align: center;
    padding-top: 3rem;
    padding-right: 20px;
    font-family: 'Khula', sans-serif;
    padding-bottom: 6rem; }
  .presentacion__text {
    padding: 2rem;
    font-size: 3.5em;
    text-align: center;
    color: #363535;
    padding-bottom: 10rem;
    text-shadow: 2px 2px #d1d1d1; }

p {
  padding: 2rem;
  font-size: 3.5em;
  text-align: center;
  color: #ffff;
  padding-bottom: 10rem; }

.img {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #474747;
  padding: 1rem; }
  .img__circulo {
    width: 12%;
    border-radius: 50%;
    border: #808285 8px solid; }

.nosotros__img {
  max-width: 400px; }

.nosotros__title {
  font-family: 'Bebas', sans-serif;
  color: #717375;
  text-shadow: 1px 1px #d1d1d1;
  font-size: 4rem;
  padding-bottom: 20px;
  padding-top: 20px; }

.nosotros__text {
  margin: 10px;
  padding: 10px;
  font-family: 'Bebas', sans-serif;
  color: #ffff;
  font-size: 2rem;
  letter-spacing: 1px; }

.fondo-aromas {
  background-image: url(../img/fondo-conocenos.jpg); }

.fondo-productos {
  background-image: url(../img/fondo-conocenos.jpg);
  background-attachment: fixed; }

.card {
  box-shadow: 0 5px 10px #000;
  border-radius: 5px; }
  .card__body {
    background-image: url(../img/fondo-conocenos.jpg); }
  .card__flip > div {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform 300ms;
    transition-timing-function: linear;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    border-radius: 5px; }

.card__flip:hover .card-front {
  transform: rotateY(-180deg); }

.card__flip:hover .card-back {
  transform: rotateY(0deg); }

.card-front {
  transform: rotateY(0deg);
  border-radius: 5px; }

.card-back {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  border-radius: 5px; }

.card-title {
  text-shadow: 2px 2px #535252;
  margin-top: 1em;
  margin-bottom: 1em !important;
  font-family: 'Bebas', sans-serif;
  font-size: 2.8rem; }

.card-text {
  font-family: 'Monserrat', sans-serif;
  font-size: 2.2rem;
  color: #252525;
  letter-spacing: 1px; }

.btn {
  box-shadow: 0 5px 10px #000; }

.cardP {
  width: 18rem;
  height: 30rem; }

/*Productos*/
.productos {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

.cards {
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 200px;
  margin: 20px;
  background-color: white;
  text-align: center;
  font-family: arial;
  padding: 1px;
  transition: transform .2s; }
  .cards__img {
    width: 200px;
    border-radius: 10px; }
  .cards__title {
    margin: 10px;
    font-family: 'Khula',sans-serif; }
  .cards__text {
    font-size: 10px;
    color: #252525;
    padding: 2px; }

.button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  border-radius: 10px; }

.cards:hover {
  transform: scale(1.1); }

button:hover {
  opacity: 0.7; }

.item {
  background-image: url(../img/fondo-porQueElegirnos.jpg); }
  .item__titulo {
    font-size: 40px;
    text-align: center;
    margin-top: 5px;
    color: #717375;
    font-family: 'Bebas', sans-serif;
    text-shadow: 3px 3px 3px white; }
  .item__descripcion {
    font-size: 25px;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    color: #EFEAE0;
    padding-bottom: 50px;
    font-family: 'Bebas',sans-serif;
    font-style: italic; }
  .item__imagen {
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 6px; }

.fondo-contacto {
  background-image: url(../img/fondo-contacto.jpg); }

.contenedor {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 1000px;
  background-color: #f9f9f9bb;
  padding: 30px;
  margin: auto;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 10px; }

.contacto__titulo {
  font-style: normal;
  color: #F8EFEA;
  font-size: 40px;
  text-align: center; }
  .contacto__titulo__p {
    font-size: 20px;
    color: #F8EFEA;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 50px; }

.contacto__p {
  font-size: 20px;
  color: #F8EFEA;
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 50px; }

form {
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.451);
  padding: 50px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 7px; }

input {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 20px;
  border: none; }

.input-mensaje {
  height: 100px; }

#buttonContacto {
  background: #F1BDA7;
  color: #717375;
  padding: 20px;
  font-size: 20px;
  border-radius: 20px;
  margin-top: 60px; }

#buttonContacto:hover {
  cursor: pointer; }
