/*Externos*/
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Khula:wght@400;600&family=Montserrat:wght@100;500;600&display=swap");
/*Misc*/
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background-color: #C4C4C4;
  background-size: cover;
  background-repeat: no-repeat;
  object-position: center;
  width: 100%;
  font-family: 'Khula',sans-serif; }

@media (max-width: 768px) {
  header picture {
    display: none; }
  nav ul a {
    font-size: 1.6em;
    font-style: italic;
    color: #fcfcfc;
    padding: .4rem; }
  .presentacion__titulo {
    text-align: center; }
  .grid-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px; }
  .card {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .box__imagen {
    width: 40%; }
  .item .item__descripcion {
    font-size: 1.6em;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px; }
  .item .item__titulo {
    font-size: 2.2em; }
  .contacto__titulo {
    font-size: 2.5em; }
  .contacto__p {
    font-size: 1.6em; }
  form {
    width: 300px;
    border-radius: 7px; } }

@media screen and (max-width: 480px) {
  .img {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem; }
  .img .img__circulo {
    width: 30%;
    border-radius: 50%;
    border: #808285 8px solid; } }

/*Partials*/
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(270deg, #474747 0%, #5c5c5c 29%, #707070 43%, #858585 53%, #9c9c9c 62%, #b0b0b0 69%, #b8b8b8 75%, #bfbfbf 80%, #c7c7c7 86%, #cfcfcf 92%, #d6d6d6 100%);
  padding: 2rem; }

header picture {
  flex-basis: 40%; }

header picture img {
  max-width: 200px; }

li {
  padding-left: 1rem;
  padding-right: 1rem; }

nav ul li {
  display: block; }

nav ul a {
  display: flex;
  font-size: 1.8em;
  color: #f2f2f2;
  text-decoration: none;
  border-bottom: #EFEAE0 2px solid; }

nav ul li a:hover {
  background-color: #eff2f2;
  color: #474747; }

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: linear-gradient(160deg, #474747 0%, #5c5c5c 11%, #707070 24%, #858585 37%, #9c9c9c 51%, #b0b0b0 63%, #b8b8b8 73%, #bfbfbf 82%, #c7c7c7 89%, #cfcfcf 95%, #d6d6d6 100%);
  background-size: cover;
  width: 100%;
  position: relative;
  padding: 1rem;
  justify-content: space-evenly; }
  .footer__iconos {
    height: 4rem;
    background-position: center;
    margin-left: 2rem;
    padding-left: 9rem; }

/*Pages*/
.fondo-index {
  background-image: url(../img/fondoVela.jpg); }

.presentacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap; }
  .presentacion__logoRedondo {
    width: 20rem;
    margin-top: 2rem; }
  .presentacion__titulo {
    font-style: normal;
    font-size: 6em;
    color: #575757;
    text-align: right;
    padding-top: 3rem;
    padding-right: 20px;
    font-family: 'Khula', sans-serif;
    padding-bottom: 6rem; }

#bio_info {
  padding: 2rem;
  font-size: 3.5em;
  text-align: center;
  color: #363535;
  padding-bottom: 10rem; }

p {
  padding: 2rem;
  font-size: 3.5em;
  text-align: center;
  color: #ffffff;
  padding-bottom: 10rem; }

.text-center {
  font-size: 4rem;
  font-family: 'Bebas',sans-serif; }

.img {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #474747;
  padding: 1rem; }
  .img__circulo {
    width: 12%;
    border-radius: 50%;
    border: #808285 8px solid; }

.fondo_aromas {
  background-image: url(../img/fondo-conocenos.jpg); }

#card {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 2rem; }

.box {
  align-items: center;
  gap: 4rem;
  transition: all .2s linear; }
  .box__imagen {
    display: flex;
    border: 4px #EFEAE0 solid;
    width: 300px;
    border-radius: 500%;
    box-shadow: 4px 4px 5px gray; }
  .box__boton {
    display: flex;
    justify-content: center;
    width: 200px;
    background: #808285;
    color: #EFEAE0;
    font-size: 20px;
    border-radius: 10px;
    text-align: center; }

.box:hover {
  transform: scale(1.1, 1.1); }

.box__boton:hover {
  cursor: pointer; }

.item {
  background-image: url(../img/fondo-porQueElegirnos.jpg); }
  .item__titulo {
    font-size: 40px;
    text-align: center;
    margin-top: 5px; }
  .item__descripcion {
    font-size: 25px;
    text-align: center;
    padding-left: 400px;
    padding-right: 400px;
    color: #5a5a5a;
    padding-bottom: 50px;
    font-family: 'Bebas',sans-serif;
    font-style: italic; }
  .item__imagen {
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 6px; }

.fondo-contacto {
  background-image: url(../img/fondo-contacto.jpg); }

.contenedor {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 1000px;
  background-color: #f9f9f9bb;
  padding: 30px;
  margin: auto;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 10px; }

.contacto__titulo {
  font-style: normal;
  color: #EFEAE0;
  text-shadow: black;
  font-size: 40px;
  text-align: center; }
  .contacto__titulo__p {
    font-size: 20px;
    color: #EFEAE0;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 50px; }

.contacto__p {
  font-size: 20px;
  color: #EFEAE0;
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 50px; }

form {
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.451);
  padding: 50px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 7px; }

input {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 18px;
  border: none; }

.input-mensaje {
  height: 100px; }

#buttonContacto {
  background: #808285;
  color: #EFEAE0;
  padding: 20px;
  font-size: 20px;
  border-radius: 20px;
  margin-top: 60px; }

#buttonContacto:hover {
  cursor: pointer; }
