.fondo-contacto {
    background-image: url(../img/fondo-contacto.jpg);
}
.contenedor {
    justify-content: center;
    margin: 30px auto 30px auto;
    max-width: 700px;
    background-color: #f9f9f9bb;
    padding: 30px;
    box-shadow: 0 5px 10px #000;
    border-radius: 10px;
}
.contacto{
    &__titulo {
        font-style: normal;
        color: map-get($colors, text-color);
        font-size: 40px;
        text-align: center;
    }
     &__p {
        font-size: 20px;
        color: map-get($colors, text-color);
        text-align: center;
        margin-bottom: 20px;
        padding-bottom: 50px;
    }
}



form {
    background-color: rgba(0, 0, 0, 0.451);
    padding: 50px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
}

.celdas{
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    gap: 10px;
    font-size: 2rem;
}

 input{
    box-shadow: 0 5px 8px rgb(52, 52, 52);
    padding-left: 10px;
    border-radius: 8px;   
 }

.input-mensaje {
     height: 100px;
 }


 .buttonContacto {
    width: 40%;
    background:map-get($colors, alternative) ;
    color:black;
    padding: 20px;
    font-size: 20px;
    border-radius: 20px;
    margin-top: 60px;    
 }

 .buttonContacto:hover {
     cursor: pointer;
     box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
 }