.fondo-productos{
    background-image: url(../img/fondo-conocenos.jpg);
}

#cards {
    margin-top: 2rem;
    @include flex (row,flex-start,flex-start, 2rem);   
    flex-wrap: nowrap;
  }

.box {
    align-items: center;
    gap: 4rem;
    transition: all .2s linear;

    &__imagen {
        display: flex;
        margin:auto;
        border: 4px #EFEAE0 solid;
        width:300px;
        border-radius: 500%;
        box-shadow: 4px 4px 5px gray;
    }

    &__boton {
        display: flex;
        justify-content: center;
        width: 200px;
        background: #808285;
        color:map-get($colors, base);
        font-size: 20px;
        border-radius: 10px;
        text-align: center;    
        box-shadow: 4px 4px 4px white;
    }
}
.box:hover{
    transform: scale(1.1, 1.1);

}

.box__boton:hover {
    cursor: pointer;
}
