/*Mobile Small*/
@media screen and (max-width: 480px){
    /*Home*/
    

}


/*Mobile Large*/
@media screen and (max-width: 480px) {

    .img {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    
    }
    .img .img__circulo {
        width: 30%;
        border-radius: 50%;
        border: #808285 8px solid;
    }
}


/*Mobile Tablet*/
@media (max-width:760px) {
    header picture {
        display: none;
    }
    nav ul a {
        font-size: 1.6em;
        font-style: italic ;
        color: rgb(252, 252, 252);
        padding: .4rem;
    }
    .presentacion__titulo {
        text-align: center;
    }

    .grid-main {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
    }
    .card {
        display: flex;
        flex-direction: column; 
        align-items: center;       
    }
    .box__imagen {
        width: 40%;
    }
    .item .item__descripcion {
        font-size: 1.6em;
        text-align: center;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 10px;
    }
    .item .item__titulo {
        font-size: 2.2em;
    }

    .contacto__titulo {
        font-size: 2.5em;
   }
    .contacto__p {
       font-size: 1.6em;
   }
   
   form {
       width: 300px;
       border-radius: 7px;
   }
}
    
