/*Colors*/
$colors: (
    primary:#717375,
    secondary:#EFEAE0,
    alternative:#F1BDA7,
    text-color: #F8EFEA,
    base:#ffff
    
);
@each $color, $value in$colors {
    #{$color} {
        color: #{$value}
    }    
}